<div class="hb-health"> 
  {{#if model.isFulfilled }}
  <div class="hb-health__group {{if model.content.hasErrors 'hb-health--error' 'hb-error--success'}}">
    <div class="hb-health__group--header">
     {{#if model.content.hasErrors}}
     <button {{action "treatAll" }} disabled={{isProcessing}} class="hb-button hb-button-grey small pull-right">Fix all</button>
     <div class="hb-health__indicator hb-health__indicator--error">
      <i class="ui-icon ui-icon-12 ui-icon-x-thin"/>
     </div>
     {{else}}
       <div class="hb-health__indicator hb-health__indicator--success">
        <i class="ui-icon ui-icon-12 ui-icon-checkmark"/>
       </div>
     {{/if}}
    <h3>{{repo.data.repo.owner.login}} / {{repo.data.repo.name}} </h3>
     {{#if model.content.hasErrors}}
     {{errorCount}} errored and {{successCount}} successful checks
     {{else}}
     {{successCount}} successful checks
     {{/if}}
    </div>
    {{#each model.content.checks as |check| }}
      <div class="hb-health__content {{if check.success 'hb-health__content--success' 'hb-health__content--error'}}">
       {{#if check.success }}
       <i class="ui-icon ui-icon-checkmark"/>
       {{else}}
       <button {{action "treat" check model }} disabled={{isProcessing}} class="hb-button hb-button-grey small pull-right">Fix it</button>
       <i class="ui-icon ui-icon-x-thin"/>
       {{/if}}
       {{ check.message }}
      </div>
    {{/each}}
  </div>
  {{/if}}
</div>


