<div class="link-states">
  <i class="ui-icon ui-icon-link"></i>
  <i class="ui-icon ui-icon-unlink"></i>
</div>
<div class="link">

  <h4>{{link.data.repo.full_name}}</h4>
  {{#if isProcessing}}{{hb-spinner}} {{/if}}
  {{#if isLinked }}
    <div class="flex-crumbs">
      {{hb-board-columns columns=link.board.columns }}
    </div>
    {{hb-label-selector 
      title="+ filters"
      editable=true
      customClass="hb-selector-component--links"
      values=issueFiltersLabels
      selected=issueFiltersLabels
      labels=link.data.other_labels
      noLabelsMessage="Add labels to constraint the issues for this linked repository."
    }}
  {{else}}
    {{#if link.board.columns.length }}
      <div class="flex-crumbs control-group error">
          {{hb-board-columns columns=link.board.columns }}
        <p class="help-block">
        This HuBoard's columns are not compatible with your parent board. Click the Copy parent board button to copy the parent HuBoard's columns.
        </p>

      </div>
      <hr>
    {{else}}
      <div class="control-group error">
        <p class="help-block">
        This repository doesn't have any columns. Click the Copy parent board button to copy the parent HuBoard's columns.
        </p>
      </div>
      <hr>
    {{/if}}
  <div class='flex-split'>
    <div class='flex-left'>
      <div class="flex-crumbs">
        {{hb-board-columns columns=parent.board.columns }}
      </div>
    </div>
    <div class='flex-right'>
      <button class="hb-button hb-button-grey" disabled={{buttonDisabled}} {{action 'copy' link}}>
        Copy parent HuBoard
      </button>
    </div>
  </div>
    {{#if copyDisabled }}
    <div class="control-group error">
      <p class="help-block">
      We have disabled copying parent repositories to prevent lost history and reset boards. Please contact us at <a href="mailto:support@huboard.com?Subject=ATTN:Copy%20parent%20repository%20is%20disabled">support@huboard.com</a> or ping us on Intercom by clicking on the bottom right ? button and we will help you get squared away. 
      </p>
    </div>
    {{/if}}
  {{/if}}
</div>
<div class="link-actions">
  <button {{action 'remove' link }}>
  <i class="ui-icon ui-icon-x-thin"></i>
  </button>
</div>
