<div class="ember-view">
  <div class="card-header">
    <div class="title" title="{{issue.title}}">
      {{issue.title}} 
      <small>#{{issue.number}}</small>
    </div>
  </div>

  <div class="card-footer clearfix">
    <div class="card-details-wrapper">
      <div class="card-details clearfix">
        <div class="avatar-wrapper">
          {{#if issue.assignees}}
            <div class="visible-assignees">
              {{#each limitedAssignees as |assignee index|}}
                {{hb-avatar-tooltip user=assignee width="24" height="24" multi=true index=index }}
              {{/each}}
            </div>
          {{else}}
            {{#if issue.assignee }}
              {{hb-avatar-tooltip user=issue.assignee width="24" height="24" }}
            {{/if}}
          {{/if}}
          {{#if assigneeOverflow}}
            <div class='assignee-overflow'> +{{assigneeOverflow}} </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="hb-column-indicator">
      <div class="card-states">
        <img src="{{asset-path "check.png"}}" title="Issue is closed" class="hb-state-closed"/>
        <img src="{{asset-path 'arrow.png'}}" class="hb-state-ready"/>
        <img src="{{asset-path 'x.png'}}" class="hb-state-blocked"/>
      </div>
      {{#each columnIndicator as |column| }}
        <div class='hb-column-indicator__bar {{if column.selected "selected"}}'></div>
      {{/each}}
      <span class="hb-column-indicator__text">{{issue.current_state.text}}</span>
    </div>


    <div class="card-labels">
        {{#each cardLabels as |label|}}
          <div class="card-label-wrapper"> 
             <div class="card-label active small" style={{label.customStyle}} ></div>
             <div class="card-label active large" style={{label.customStyle}} >
               <span>{{label.name}}</span>
             </div>
          </div>
        {{/each}}
    </div>
  </div>
</div>

