<div class="ember-view">
  <div class="card-header clearfix">
    <div class="title" title="{{issue.title}}">
      {{#if issue.pull_request}} 
        {{#if issue.pull_request.html_url }} 
          <span class="type">
            <i class="ui-icon ui-icon-branch-merge"></i> 
          </span>
        {{/if}} 
      {{/if}}
      {{issue.title}} 
      <small>
        <a class="number" href="{{issue.html_url}}" target="_blank" title="View issue on github.com">
          #{{issue.number}}
        </a>
     </small>
    {{#if issue.linkedColor}}
      <span class="linked-repo" style={{repo-color-style issue.linkedColor}}>
        <i class="ui-icon ui-icon-note"></i> {{repoName}}
      </span>
    {{/if}}
    </div>
  </div>
  <div class="card-body clearfix">
    <div class="card-details-wrapper">
      <div class="card-details clearfix">
        <div class="avatar-wrapper">
          {{#if assigneeOverflow}}
            <div class='assignee-overflow'> +{{assigneeOverflow}} </div>
          {{/if}}
          {{#if issue.assignees}}
            <div class="visible-assignees">
              {{#each limitedAssignees as |assignee index|}}
                {{hb-avatar-tooltip user=assignee width="24" height="24" multi=true index=index }}
              {{/each}}
            </div>
          {{else}}
            {{#if issue.assignee }}
              {{hb-avatar-tooltip user=issue.assignee width="24" height="24" }}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="hb-column-indicator">
      {{#each columnIndicator as |column| }}
        <div class='hb-column-indicator__bar {{if column.selected "selected"}}'></div>
      {{/each}}
      <span class="hb-column-indicator__text">{{issue.current_state.text}}</span>
      <div class="card-states">
        <img src="{{asset-path "check.png"}}" title="Issue is closed" class="hb-state-closed"/>
        <img src="{{asset-path 'arrow.png'}}" class="hb-state-ready"/>
        <img src="{{asset-path 'x.png'}}" class="hb-state-blocked"/>
      </div>
    </div>
  </div>
  <div class="card-footer clearfix">
    <div class="card-labels filtered {{unless filteredLabels.length "hide"}}">
        {{#each filteredLabels as |label|}}
          <div class="card-label-wrapper"> 
             <div class="card-label active large" style={{label.customStyle}} >
               <span>{{label.name}}</span>
             </div>
          </div>
        {{/each}}
    </div>
    <div class="card-labels board-light compact">
        {{#each unfilteredLabels as |label|}}
          <div class="card-label-wrapper"> 
             <div class="card-label active small" style={{label.customStyle}} ></div>
             <div class="card-label active large" style={{label.customStyle}} >
               <span>{{label.name}}</span>
             </div>
          </div>
        {{/each}}
    </div>
    <div class="card-labels board-heavy">
      <div class="visible-labels clearfix">
        {{#each unfilteredLabels as |label|}}
          <div class="card-label-wrapper">
             <div class="card-label active large" style={{label.customStyle}} >
               <span>{{label.name}}</span>
             </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

