<div class="ember-view">
  <div class="card-header">
    <div class="title" title="{{issue.title}}">
      {{#if issue.assignee}}
        {{hb-avatar-tooltip user=issue.assignee width="24" height="24"}}
      {{/if}}
      {{issue.title}} 
      <small>#{{issue.number}}</small>
    </div>
  </div>

  <div class="flex-crumbs">
  </div>
  <div class="hb-column-indicator">
    {{#each columnIndicator as |column| }}
      <div class='hb-column-indicator__bar {{if column.selected "selected"}}'></div>
    {{/each}}
    {{issue.current_state.text}}
  </div>


  <div class="card-labels">
      {{#each label in cardLabels }}
        <div class="card-label-wrapper"> 
           <div class="card-label active small" style="{{label.customStyle}}"></div>
           <div class="card-label active large" style="{{label.customStyle}}">
            <span>{{label.name}}</span>
           </div>
        </div>
      {{/each}}
  </div>
</div>

