<div class="card-header">
  <div class="title" {{attr title=title }}>
    {{#if assignee}}
      {{hb-avatar-tooltip user=assignee width="24" height="24"}}
    {{/if}}
    {{title}} 
    <small>#{{number}}</small>
  </div>
</div>

<div class="flex-crumbs">
  {{hb-selected-column columns=columns issue=model}}
</div>


<div class="card-labels">
    {{#each cardLabels as label}}
      <div class="card-label-wrapper"> 
         <div {{attr class=":card-label :active :small label.customColor"}} ></div>
         <div {{attr class=":card-label :active :large label.customColor"}} >
          <span>{{label.name}}</span>
         </div>
      </div>
    {{/each}}
</div>

