<div class='filters'>
  {{hb-filter-group name='Assignment' filters=filters.userFilters}}
  {{hb-filter-group name='Repos' filters=filters.boardFilters tagType='colored'}}
  {{hb-filter-group name='Cards' filters=filters.cardFilters}}
  {{hb-filter-group name='Milestones' filters=filters.milestoneFilters}}
  {{hb-filter-group name='Labels' filters=filters.labelFilters tagType='colored'}}
</div>
