<div class="hb-issue-status">
  <div class="hb-issue-status__indicator hb-health__indicator--{{status.state}}">
    <i class="ui-icon ui-icon-12 {{object-value iconClass status.state}}"></i>
  </div>
  <h3>
    Build status: {{status.state}}
  </h3>
  <label>
    {{#each commitStates as |state|}}
      <small>{{object-value stateCounts state}} {{state}}</small>
    {{/each}}
  </label>

  <div class="statuses">
    <ul>
      {{#each status.statuses as |status|}}
        <div class="hb-issue-status__mini-indicator hb-health__mini-indicator--{{status.state}}">
          <i class="ui-icon ui-icon-12 {{object-value iconClass status.state}}"></i>
        </div>
        <li>
          <strong>{{status.context}}</strong>:  {{status.state}}
          {{#if status.description}}
            - <i> {{status.description}} </i>
          {{/if}}
          {{#if status.target_url}}
            <a href="{{status.target_url}}">details</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

